@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom smooth dark scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #09090b;
}

::-webkit-scrollbar-thumb {
  background: #272730;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f4e;
}

/* Custom range input styling for player seek bar */
input[type="range"] {
  accent-color: #10b981;
}
